@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html, body, #root {
  width: 100%;
  height: auto;
  margin: 0;
  overflow-x:hidden;
  background:#fff;
  font-family: 'Source Code Pro', monospace;
}