.content {
    width: 100%;
    background:#fff;
}
.content-inner {
    display:flex;
    flex-direction:row;
}
.title {
    font-size: 30px;
}
.last-ten-table {
    width: 700px;
    text-align:left;
}
.change-interval {
    float:right;
}
.common-table {
    width: 400px;
    text-align:left;
}
.chart-container {
    width: 800px;
}
.change-interval, .change-accessor {
    height: 100px;
    width: 200px;
}